:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background-color: #3f3f3f;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);

}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  /*width: 980px;*/
  margin: auto;
 

}

header img {
  /*left: 100px;*/
  max-width: 1080px;
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255,255,255, 0.15)
}

h1 {
  font-size: 2.0em;
  line-height: 1.0;
  text-align: center;
}

#app {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: border-color 0.25s;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  /*cursor: pointer;*/
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.text{
  padding: 5px;
}

img{
  margin: 10px;
  padding: 0.2rem;
  /*text-align: center;*/
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  
  background-color: #f1f1f1;
  /*cursor: pointer;*/
  transition: border-color 0.25s;
  max-width: 600px;

  max-height: 40%;
  width:auto;
  height: 40%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.couterbox{
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  background: rgb(226, 225, 225);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}

.inicio{
  font-weight: 500;
  color: #080808;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  padding: 10px;
  text-align: left;
  margin-inline: 5px;
}

.bar{
  margin-top: 20px;
  padding: 20px;
  background: #3f3f3f;
  border-radius: 10px;
  color: white;
}